<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ikesios">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Symptom_Check"></activity>
        <activity android:name=".Covid_Final" />
        <activity android:name=".Covid_Other" />
        <activity android:name=".DiseaseStatement_Start" />
        <activity android:name=".Disease_Habit" />
        <activity android:name=".Other_End" />
        <activity android:name=".Other_Statement" />
        <activity android:name=".CovidStatus" />
        <activity android:name=".AskHelp" />
        <activity android:name=".OfferHelp" />
        <activity android:name=".Help" />
        <activity android:name=".Menu" />
        <activity android:name=".Demographics" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>